body{
    text-align: none;
}

footer{
    text-align: right;
    margin-right: 40px;
    margin-top: 100px;
}

/* navbar */
.navbar{
    padding-left: 30%;
}

.navbar-toggler{

}

.logo{
    height: 40px;
}

/* accueil jumbotron */

.h1, h1 {
    font-size: 4.00rem;
}

.jumbotron {
    margin-bottom: Opx;
    height: 550px;
    color: white; /* Le texte sera affiché en blanc */
    text-shadow: black 0.1em 0.1em 0.1em;
    background-image: url('Imagesd/Steakosaure_grill.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron-h1{
    margin-bottom: 20px;
    margin-left: 25%;
}

.jumbotext{
    margin-top: 100px;
}

/* badges */
.badge-secondary{
    align-items: right;
}

/* panneaux */
.btn-outline-danger {
    color: rgb(114, 84, 6);
    background-color: transparent;
    background-image: none;
    border-color: rgb(114, 84, 6);
}

.list-group{
    text-align: center;
}

/* gallerie photo  */
.photos{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

